body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 3px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.title {
  margin-bottom: 10px;
}

#question-container {
  margin-bottom: 10px;
}

#question-text {
  font-size: 24px;
  margin-bottom: 20px;
}

#video-container {
  margin-bottom: 20px;
}

#next-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#next-btn:hover {
  background-color: #0056b3;
}

#next-btn:active {
  background-color: #003d80;
}

#progress-bar-container {
  margin-top: 20px;
}

#progress-bar {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 10px;
}

#progress {
  width: 0;
  height: 20px;
  background-color: #007bff;
}

#progress-label {
  margin-top: 5px;
  font-size: 14px;
}
